.center {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 290px;
}
.why {
  margin-left: auto;
  margin-right: auto;
  font-size: 100px
}
h1 {
  width:400px;
  margin: 0 auto;
  text-align: center;
}
.pie {
  background-color:#258DD8;
  width:400px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px
}