.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.login {
  background: url('/Users/txt_07/Desktop/Teenfit/Assets/image_from_ios.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 80%;
  height: 246px;
  margin: auto;
  z-index: 2;
  position: relative;
}